# GovTool Project Codeowners

# These owners will be the default owners for everything in the repository.
* @Ryun1 @MSzalowski

# Frontend assets templates
govtool/frontend/*                                                          @MSzalowski @IntersectMBO/govtool-core-committers
*.tsx                                                                       @MSzalowski @IntersectMBO/govtool-core-committers
*.ts                                                                        @MSzalowski @IntersectMBO/govtool-core-committers
*.css                                                                       @MSzalowski @IntersectMBO/govtool-core-committers

# Backend
govtool/backend/*                                                           @MSzalowski @jankun4

# DevOps
.github/workflows/*                                                         @placek @adgud
config/govtool/*                                                            @placek @adgud
infra/terraform/*                                                           @placek @adgud

# Testing
tests/*                                                                     @IntersectMBO/govtool-test
gov-action-loader/*                                                         @IntersectMBO/govtool-test
